.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5rem 0.625rem;
}

.header img {
    height: 1.8rem;
    margin-right: 0.5rem;    
}

.header strong {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: 900;
}

.to {
    color: var(--blue);
    font-family: 'roboto';
    
}
.do {
    color: var(--purple-dark);
    font-family: 'roboto';
}
